<div class="row">
    <div class="col-md-12">
        <form [formGroup]="recipeForm"
            (submit)="onSubmit()">

            <div formGroupName="recipe">

                <div class="row">
                    <div class="col-md-4">
                        <h4>Recipe</h4>
                    </div>
                    <div class="col-md-8">
                        <ng-template [ngTemplateOutlet]="buttons"></ng-template>
                    </div>
                </div>

                <hr>

                <div class="row">
                    
                    <div class="form-group col-md-12">
                        <label for="name">Name</label>
                        <input type="text" 
                                class="form-control"
                                placeholder="Name"
                                formControlName="name"
                                name="recipe.name"
                                #recipeName>
                        
                        <app-form-validation-message
                            [ctrl]="recipeForm"
                            [ctrlName]="'recipe.name'">
                        </app-form-validation-message>

                    </div>
                    
                    <div class="form-group col-md-12">
                        <label for="name">Description</label>
                        <textarea
                                class="form-control"
                                name="recipe.description"
                                formControlName="description">
                        </textarea>

                        <app-form-validation-message
                            [ctrl]="recipeForm"
                            [ctrlName]="'recipe.description'">
                        </app-form-validation-message>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="name">Cover Image</label>
                        <input type="url"
                                placeholder="Image cover url"
                                class="form-control"
                                name="recipe.imagePath"
                                formControlName="imagePath"
                                #imagePath>
                        
                        <app-form-validation-message
                            [ctrl]="recipeForm"
                            [ctrlName]="'recipe.imagePath'">
                        </app-form-validation-message>

                        <img *ngIf="imagePath.value"
                            [alt]="recipeName.value" 
                            style="max-width: 100px;"
                            class="img-thumbnail mt-3"
                            [src]="imagePath.value">
                    </div>

                </div>
            </div>

            <div formGroupName="ingredient">

                <h4>Ingredients</h4>

                <hr>

                <div class="row">
                    <div class="form-group col-md-5">
                        <label for="name">Name</label>
                        <input type="text" 
                                class="form-control"
                                placeholder="Name"
                                formControlName="name"
                                name="ingredient.name">
                        
                        <app-form-validation-message
                            [ctrl]="recipeForm"
                            [ctrlName]="'ingredient.name'">
                        </app-form-validation-message>
                    </div>

                    <div class="form-group col-md-5">
                        <label for="name">Amount</label>
                        <input type="number" 
                                class="form-control"
                                placeholder="Amount"
                                formControlName="amount"
                                name="ingredient.amount">
                        
                        <app-form-validation-message
                            [ctrl]="recipeForm"
                            [ctrlName]="'ingredient.amount'">
                        </app-form-validation-message>
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-group">
                            <button class="btn btn-outline-success"
                                (click)="addIngredient()"    
                                type="button">
                                    Add
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mt-3">
                        <ul class="list-group">
                            <a class="list-group-item cursor-pointer d-flex justify-content-between align-items-center"
                                *ngFor="let ingredient of recipe.ingredients; let ingredientIndex = index;">
                                {{ingredient.name}}
                                <button class="btn btn-outline-danger" (click)="onDeleteIngedient(ingredientIndex)">Delete</button>
                                <span class="badge badge-primary badge-pill">{{ingredient.amount}}</span>    
                            </a>
                        </ul>
                    </div>
                </div>
            </div>

            <hr>
            
            <ng-template [ngTemplateOutlet]="buttons"></ng-template>

        </form>
    </div>
</div>

<ng-template #buttons>
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group float-right">
                <button class="btn btn-outline-success" 
                        type="submit">
                        Save
                </button>
                <button class="btn btn-outline-warning" 
                        type="reset">
                        Clear
                </button>
                <button class="btn btn-outline-danger" 
                        type="button"
                        (click)="onCancel()">
                        Cancel
                </button>
            </div>
        </div>
    </div>
</ng-template>