<div class="row">
    <div class="col-md-12">
        <form [formGroup]="recipeForm"
            (submit)="onSubmit()">
            
            <div formGroupName="recipe">

                <div class="row">
                    
                    <div class="form-group col-md-12">
                        <label for="name">Name</label>
                        <input type="text" 
                                class="form-control"
                                placeholder="Name"
                                formControlName="name"
                                name="recipe.name">
                        
                        <app-form-validation-message
                            [ctrl]="this.recipeForm"
                            [ctrlName]="'recipe.name'">
                        </app-form-validation-message>

                    </div>
                    
                    <div class="form-group col-md-12">
                        <label for="name">Description</label>
                        <textarea
                                class="form-control"
                                name="recipe.description"
                                formControlName="description">
                        </textarea>

                        <app-form-validation-message
                            [ctrl]="this.recipeForm"
                            [ctrlName]="'recipe.description'">
                        </app-form-validation-message>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="name">Cover Image</label>
                        <input type="url"
                                placeholder="Image cover url"
                                class="form-control"
                                name="recipe.imagePath"
                                formControlName="imagePath">
                        
                        <app-form-validation-message
                            [ctrl]="this.recipeForm"
                            [ctrlName]="'recipe.imagePath'">
                        </app-form-validation-message>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group">
                        <button class="btn btn-outline-success" type="submit">Add</button>
                        <button class="btn btn-outline-warning" type="reset">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>