.list-group-item {
    position: relative;
    height: 5rem;
    overflow: hidden;
}

.list-group-item .img {
    position: absolute;
    z-index: 1;
    height: 300%;
    width: 300%;
    background-size: cover;
    background-repeat: no-repeat;
    right: -250%;
    top: 15%;
    opacity: .5;
    transition: 0.3s;
    transform: rotate(10deg);
    background-position: center;
}

.list-group-item:hover .img {
    opacity: 1;
    right: -175%;
}

.list-group-item .info {
    position: absolute;
    z-index: 2;
    transition: 0.3s;
}

.list-group-item:hover .info {
    opacity: .5;
}