.cursor-pointer {
    cursor: pointer;
}

.color-invert {
    mix-blend-mode: difference;
}

.background-position-center {
    background-position: center;
}

.pointer-events-none {
    pointer-events: none; 
}

.invalid {
    border: 1px solid #dc3545;
}

.truncate {
    display: block;
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}