.cursor-pointer {
    cursor: pointer;
}

.color-invert {
    mix-blend-mode: difference;
}

.background-position-center {
    background-position: center;
}

.pointer-events-none {
    pointer-events: none; 
}

.invalid {
    border: 1px solid #dc3545;
}